<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Vendor Line Item</h4>
      </div>

      <!-- end card header -->
      <div class="card-body">
        <div class="live-preview">
          <form [formGroup]="fbl1nForm">
            <div class="row gy-4">
              <div class="col-lg-6">
                <!--  -->
                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label for="companyCode" class="form-label"
                      >Company Code</label
                    >
                  </div>
                  <div class="col-lg-9">
                    <ng-select
                      id="companyCode"
                      [items]="Default"
                      bindLabel="name"
                      bindValue="name"
                      placeholder="-- Select Company Code --"
                      formControlName="companyCode"
                    >
                      <ng-template ng-optgroup-tmp let-item="item">
                        {{ item.country || "Unnamed group" }}
                      </ng-template>
                    </ng-select>

                    <div
                      *ngIf="
                        fbl1nForm.get('companyCode')?.invalid &&
                        fbl1nForm.get('companyCode')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Company Code is required.
                    </div>
                  </div>
                </div>

                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label for="vendor" class="form-label">Vendor</label>
                  </div>
                  <div class="col-lg-9">
                    <ng-select
                      id="vendor"
                      [items]="Default"
                      bindLabel="name"
                      bindValue="name"
                      placeholder="-- Select Vendor --"
                      formControlName="vendor"
                    >
                      <ng-template ng-optgroup-tmp let-item="item">
                        {{ item.country || "Unnamed group" }}
                      </ng-template>
                    </ng-select>
                    <div
                      *ngIf="
                        fbl1nForm.get('vendor')?.invalid &&
                        fbl1nForm.get('vendor')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Vendor is required.
                    </div>
                  </div>
                </div>

                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label for="invoiceDate" class="form-label"
                      >Invoice Date</label
                    >
                  </div>
                  <div class="col-lg-9">
                    <input
                      type="date"
                      class="form-control"
                      id="invoiceDate"
                      formControlName="invoiceDate"
                    />
                    <div
                      *ngIf="
                        fbl1nForm.get('invoiceDate')?.invalid &&
                        fbl1nForm.get('invoiceDate')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Invoice Date is required.
                    </div>
                  </div>
                </div>

                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label for="postingDate" class="form-label"
                      >Posting Date</label
                    >
                  </div>
                  <div class="col-lg-9">
                    <input
                      type="date"
                      class="form-control"
                      id="postingDate"
                      formControlName="postingDate"
                      (ngModelChange)="onPostingDateSelected($event)"
                    />

                    <div
                      *ngIf="
                        fbl1nForm.get('postingDate')?.invalid &&
                        fbl1nForm.get('postingDate')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Posting Date is required.
                    </div>
                  </div>
                </div>

                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label for="period" class="form-label">Period</label>
                  </div>
                  <div class="col-lg-9">
                    <input
                      type="text"
                      class="form-control"
                      id="period"
                      placeholder="0"
                      formControlName="period"
                    />
                    <div
                      *ngIf="
                        fbl1nForm.get('period')?.invalid &&
                        fbl1nForm.get('period')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Period is required.
                    </div>
                  </div>
                </div>

                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label class="form-label">Currency</label>
                  </div>
                  <div class="col-lg-9">
                    <ng-select
                      [items]="Default"
                      bindLabel="name"
                      bindValue="name"
                      formControlName="currency"
                      placeholder="-- Select Currency --"
                    >
                      <ng-template ng-optgroup-tmp let-item="item">
                        {{ item.country || "Unnamed group" }}
                      </ng-template>
                    </ng-select>

                    <div
                      *ngIf="
                        fbl1nForm.get('currency')?.invalid &&
                        fbl1nForm.get('currency')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Currency is required.
                    </div>
                  </div>
                </div>

                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label for="amount" class="form-label">Amount</label>
                  </div>
                  <div class="col-lg-9">
                    <input
                      type="text"
                      class="form-control"
                      id="amount"
                      placeholder="Amount"
                      formControlName="amount"
                    />
                    <div
                      *ngIf="
                        fbl1nForm.get('amount')?.invalid &&
                        fbl1nForm.get('amount')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Amount is required.
                    </div>
                  </div>
                </div>

                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label for="bussinessPlace" class="form-label"
                      >Bus.Place/Sectn</label
                    >
                  </div>
                  <div class="col-lg-9">
                    <input
                      type="text"
                      class="form-control"
                      id="bussinessPlace"
                      placeholder="Bus.Place"
                      formControlName="busPlace"
                    />
                    <div
                      *ngIf="
                        fbl1nForm.get('busPlace')?.invalid &&
                        fbl1nForm.get('busPlace')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Business Place is required.
                    </div>
                  </div>
                </div>

                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label for="text" class="form-label">Text</label>
                  </div>
                  <div class="col-lg-9">
                    <input
                      type="text"
                      class="form-control"
                      id="text"
                      placeholder="Text"
                      formControlName="text"
                    />
                    <div
                      *ngIf="
                        fbl1nForm.get('text')?.invalid &&
                        fbl1nForm.get('text')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Text is required.
                    </div>
                  </div>
                </div>

                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label for="documentType" class="form-label"
                      >Document type</label
                    >
                  </div>
                  <div class="col-lg-9">
                    <input
                      type="text"
                      class="form-control"
                      id="documentType"
                      formControlName="documentType"
                    />
                  </div>
                </div>
              </div>
              <!--end col-->

              <!-- Right form -->
              <div class="col-lg-6">
                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label for="reference" class="form-label">Reference </label>
                  </div>
                  <div class="col-lg-9">
                    <input
                      type="text"
                      class="form-control"
                      id="reference"
                      placeholder="Reference"
                      formControlName="reference"
                    />
                    <div
                      *ngIf="
                        fbl1nForm.get('reference')?.invalid &&
                        fbl1nForm.get('reference')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Reference is required.
                    </div>
                  </div>
                </div>

                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label for="headerText" class="form-label"
                      >Header Text</label
                    >
                  </div>
                  <div class="col-lg-9">
                    <input
                      type="text"
                      class="form-control"
                      id="headerText"
                      placeholder="Header Text"
                      formControlName="headerText"
                    />
                    <div
                      *ngIf="
                        fbl1nForm.get('headerText')?.invalid &&
                        fbl1nForm.get('headerText')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Header Text is required.
                    </div>
                  </div>
                </div>

                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label for="baselineDate" class="form-label"
                      >Baseline Date</label
                    >
                  </div>
                  <div class="col-lg-9">
                    <input
                      type="date"
                      class="form-control"
                      id="baselineDate"
                      formControlName="baselineDate"
                    />
                    <div
                      *ngIf="
                        fbl1nForm.get('baselineDate')?.invalid &&
                        fbl1nForm.get('baselineDate')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Baseline Date is required.
                    </div>
                  </div>
                </div>

                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label for="placeholderInput" class="form-label"
                      >Payt. Term</label
                    >
                  </div>
                  <div class="col-lg-9">
                    <ng-select
                      [items]="Default"
                      bindLabel="name"
                      bindValue="name"
                      placeholder="-- Select Payt. Term --"
                      formControlName="payterm"
                    >
                      <ng-template ng-optgroup-tmp let-item="item">
                        {{ item.country || "Unnamed group" }}
                      </ng-template>
                    </ng-select>
                    <div
                      *ngIf="
                        fbl1nForm.get('payterm')?.invalid &&
                        fbl1nForm.get('payterm')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Payterm is required.
                    </div>
                  </div>
                </div>

                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label class="form-label">Part. Bank</label>
                  </div>
                  <div class="col-lg-9">
                    <ng-select
                      [items]="Default"
                      bindLabel="name"
                      bindValue="name"
                      placeholder="-- Select Part. Bank --"
                      formControlName="partBank"
                    >
                      <ng-template ng-optgroup-tmp let-item="item">
                        {{ item.country || "Unnamed group" }}
                      </ng-template>
                    </ng-select>
                    <div
                      *ngIf="
                        fbl1nForm.get('partBank')?.invalid &&
                        fbl1nForm.get('partBank')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Part Bank is required.
                    </div>
                  </div>
                </div>

                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label class="form-label">Tax VAT Code</label>
                  </div>
                  <div class="col-lg-9">
                    <ng-select
                      [items]="Default"
                      bindLabel="name"
                      bindValue="name"
                      placeholder="-- Select Tax VAT Code --"
                      formControlName="taxVATCode"
                    >
                      <ng-template ng-optgroup-tmp let-item="item">
                        {{ item.country || "Unnamed group" }}
                      </ng-template>
                    </ng-select>
                    <div
                      *ngIf="
                        fbl1nForm.get('taxVATCode')?.invalid &&
                        fbl1nForm.get('taxVATCode')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Tax VAT Code is required.
                    </div>
                  </div>
                </div>

                <div class="row mb-3" style="align-items: baseline">
                  <div class="col-lg-3">
                    <label for="vat-amount" class="form-label"
                      >Tax VAT Amount</label
                    >
                  </div>
                  <div class="col-lg-9">
                    <input
                      type="text"
                      class="form-control"
                      id="vat-amount"
                      placeholder="Tax Amount"
                      formControlName="taxVATAmount"
                    />
                    <div
                      *ngIf="
                        fbl1nForm.get('taxVATAmount')?.invalid &&
                        fbl1nForm.get('taxVATAmount')?.touched
                      "
                      class="text-danger mb-1"
                    >
                      Tax VAT Amount is required.
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label">WHT Type</label>
                      <ng-select
                        [items]="Default"
                        bindLabel="name"
                        bindValue="name"
                        placeholder="-- Select WHT Type --"
                        formControlName="whtType"
                      >
                        <ng-template ng-optgroup-tmp let-item="item">
                          {{ item.country || "Unnamed group" }}
                        </ng-template>
                      </ng-select>
                      <div
                        *ngIf="
                          fbl1nForm.get('whtType')?.invalid &&
                          fbl1nForm.get('whtType')?.touched
                        "
                        class="text-danger mb-1"
                      >
                        WHT Type is required.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="wht-base-amount" class="form-label"
                        >WHT Base Amount</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="wht-base-amount"
                        placeholder="Amount"
                        formControlName="whtBaseAmount"
                      />

                      <div
                        *ngIf="
                          fbl1nForm.get('whtBaseAmount')?.invalid &&
                          fbl1nForm.get('whtBaseAmount')?.touched
                        "
                        class="text-danger mb-1"
                      >
                        WHT Base Amount is required.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label">WHT Code</label>
                      <ng-select
                        [items]="Default"
                        bindLabel="name"
                        bindValue="name"
                        placeholder="-- Select WHT Code --"
                        formControlName="whtCode"
                      >
                        <ng-template ng-optgroup-tmp let-item="item">
                          {{ item.country || "Unnamed group" }}
                        </ng-template>
                      </ng-select>

                      <div
                        *ngIf="
                          fbl1nForm.get('whtCode')?.invalid &&
                          fbl1nForm.get('whtCode')?.touched
                        "
                        class="text-danger mb-1"
                      >
                        WHT Code is required.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="wht-amount" class="form-label"
                        >WHT Amount</label
                      >
                      <input
                        type="WHT Amount"
                        class="form-control"
                        id="wht-amount"
                        placeholder="Amount"
                        formControlName="whtAmount"
                      />

                      <div
                        *ngIf="
                          fbl1nForm.get('whtAmount')?.invalid &&
                          fbl1nForm.get('whtAmount')?.touched
                        "
                        class="text-danger mb-1"
                      >
                        WHT Amount is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end col-->
            </div>
          </form>

          <!--end row-->

          <!--end row-->
        </div>
      </div>
    </div>
  </div>
  <!--end col-->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <!-- end card header -->
      <div class="card-body">
        <p></p>
        <div class="live-preview">
          <!-- Table -->
          <div class="table-responsive">
            <div #hotContainer id="example"></div>
          </div>
          <!-- End Table -->
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex flex-row-reverse">
          <div class="p-2 w-full">
            <button
              type="button"
              class="btn btn-primary add-btn btn-animation waves-effect waves-light"
              id="create-btn"
              (click)="postJournal('Submit')"
              [disabled]="!checkCell() || !fbl1nForm.valid"
              data-text="Submit"
            >
              <span>Submit</span>
            </button>
          </div>
          <div class="p-2 w-full">
            <button
              type="button"
              class="btn btn-info add-btn btn-animation waves-effect waves-light"
              id="create-btn"
              (click)="postJournal('Draft')"
              data-text="Draft"
              [disabled]="!checkCell() || !fbl1nForm.valid"
            >
              <span>Draft</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end col-->
</div>

<ng-template #content role="document" let-modal>
  <div class="modal-header bg-light p-3">
    <h5 class="modal-title">Input Profit Segment</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      id="close-modal"
      (click)="cancelEdit()"
    ></button>
  </div>
  <div class="modal-body p-4">
    <form [formGroup]="profitSegmentForm">
      <div class="mb-3">
        <ng-select
          id="profitSegment"
          [items]="Default"
          bindLabel="name"
          bindValue="name"
          placeholder="-- Select Product --"
          formControlName="profitSegment"
        >
          <ng-template ng-optgroup-tmp let-item="item">
            {{ item.country || "Unnamed group" }}
          </ng-template>
        </ng-select>

        <div
          *ngIf="
            profitSegmentForm.get('profitSegment')?.invalid &&
            profitSegmentForm.get('profitSegment')?.touched
          "
          class="text-danger mb-1"
        >
          Product is required.
        </div>
      </div>
      <div class="mb-3">
        <label for="companyCode" class="form-label">Company Code</label>
        <input
          type="text"
          class="form-control"
          id="companyCode"
          formControlName="companyCode"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer p-3">
    <button type="button" class="btn btn-secondary" (click)="cancelEdit()">
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onSubmitProfitSegment()"
    >
      Save changes
    </button>
  </div>
</ng-template>
